.footer-mobile {
    background: black;
    width: 100vw;
    height: 148px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: AktivGrotesk, sans-serif;
    font-weight: 300;
    font-size: 8px;
}

.footer-part-1 {
    height: 33%;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-part-2 {
    height: 33%;
    display: flex;
    align-items: center;
}

.social-media-icons {
    margin: 0 13px;
    width: 29px;
    height: 29px;
}

.social-media-icons:hover {
    fill: var(--green);
    cursor: pointer;
}

.footer-part-3 {
    height: 33%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.underline {
    text-decoration: underline;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {


    .footer-mobile {
        display: none;
    }

    .footer-desktop {
        height: 8vh;
    }

    .footer-desktop-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        color: white;
        padding: 0 101px;
    }

    .social-media-icons {
        margin: 0 13px;
        width: 50px;
        height: 50px;
    }

    .footer-desktop-2 {
        display: flex;
        justify-content: center;
        color: white;
        width: 100vw;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        color: white;
        padding: 35px;
    }



}