.section-2 {
    background: black;
    background-image: url(../images/new/delorean_flying_mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: AktivGrotesk;
    height: 100vh;
    width: 100vw;
}

.information-container-desktop {
    display: none;
}

.top-speed-desktop {
    display: none;
}

.flight-height-desktop {
    display: none;
}

.unlimited-power-desktop {
    display: none;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .section-2 {
        background: black;
        background-image: url(../images/new/delorean_flying_desktop.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        font-family: AktivGrotesk;
        height: 100vh;
        width: 100vw;
    }

    .section-3-in-section-2-desktop {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: white;
    }

    .information-container-desktop {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        margin: 0 110px 100px 0;
        width: 35%;
        text-align: center;
    }

    .h1-information-desktop {
        font-weight: bold;
        font-size: 34px;
        line-height: 41px;
    }

    .h3-information-desktop {
        margin-top: 18px;
        width: 335px;
        line-height: 121.8%;
        letter-spacing: 0.03em;
        color: #5FC963;
        font-weight: 300;
    }

    .p-information-desktop {
        margin-top: 23px;
        width: 337px;
        font-weight: 300;
        font-size: 14px;
        line-height: 130.3%;
        letter-spacing: 0.03em;
    }

    .section-3-icons {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .top-speed-desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 50px 100px;
    }

    .flight-height-desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 50px 100px;
    }

    .unlimited-power-desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 50px 100px;
    }


}