.section-6 {
    background: black;
    color: white;
    font-family: AktivGrotesk;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    height: 100vh;
    width: 100vw;
}

.merch-text {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.merch-title {
    font-weight: bold;
    font-size: 34px;
}

.merch-slogan {
    font-weight: 300;
    font-size: 20px;
}

.section-6-image {
    width: 100vw;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .section-6-image {
        width: 30vw;
    }
}