.section-1 {
    background-image: url(../images/hero-mob.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(100vh - 8vh);
    width: 100vw;
}