.section-3 {
    height: 100vh;
    width: 100vw;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 11px;
    text-align: center;
}

.h1-information {
    font-weight: bold;
    font-size: 2.125em;
    margin-top: 2vh;
}

.h3-information {
    font-weight: 300;
    font-size: 20px;
    color: var(--green);
    text-align: center;
    letter-spacing: 0.03em;
    padding: 11px;
}

.p-information {
    font-weight: 300;
    font-size: 0.875em;
    margin-top: 2vh;
}