.section-1 {
    background-image: url(../images/new/delroean_studio_moblie.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    height: calc(100vh - 8vh);
    width: 100vw;
}

.sign-up {
    transition: 250ms ease;
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

.sign-up:hover {
    background: var(--green);
    border: 2px solid var(--green);
    box-shadow: 0 0 5px var(--green);
}

.hero-section {
    position: relative;
    display: block;
    justify-content: center;
}

.heading {
    position: absolute;
    font-family: 'Aldrich', sans-serif;
    margin-left: 20px;
    font-size: 46px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    top: 262px;
}

.sub-heading {
    position: absolute;
    font-family: AktivGrotesk, sans-serif;
    font-weight: 300;
    margin-left: 20px;
    font-size: 20px;
    background-color: transparent;
    color: #00FF85;
    top: 320px;
}

.hero-mob-img {
    position: absolute;
    width: 100%;
}

.sign-up {
    position: absolute;
    height: 48px;
    width: 167px;
    top: 350px;
    border: 2px solid white;
    border-radius: 6px;
    background-color: transparent;
    margin-left: 20px;
    font-family: AktivGrotesk, sans-serif;
    font-weight: 300;
    color: white;
    font-size: 18px;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .section-1 {
        background: black;
        background-image: url(../images/new/delorean_studio_desktop.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        font-family: AktivGrotesk;
        height: 100vh;
        width: 100vw;
        background-attachment: fixed;
    }

    .hero-section {
        margin-left: 98px;
        top: -40px;
    }

    .sub-heading {
        /* color: white; */
    }
}