.section-4 {
    height: 100vh;
    width: 100vw;
    background: black;
    color: white;
    font-family: AktivGrotesk;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0;
}

.section-4-image {
    width: 100vw;

}

.green-h4 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;

    color: var(--green);
    text-align: center;
}

.product-paragraph {
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    padding: 20px;
    line-height: 23px;
    margin-bottom: 15px;
}

.product-info-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.product-paragraph-2 {
    font-weight: 300;
    text-align: center;
    width: 70%;
    margin: 40px 0 20px 0;
    position: relative;
    top: 0;
    font-size: 16px;
}

.download-btn {
    width: 166px;
    height: 48px;
    border: 2px solid white;
    background: black;
    box-shadow: 0 0 5px rgb(255, 255, 255);
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    font-weight: 300;
    border-radius: 6px;
    transition: 250ms ease;
    margin-top: 20px;
}

.product-folder {
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: var(--green);
}

.download-btn:hover {
    background: var(--green);
    border: 2px solid var(--green);
    box-shadow: 0 0 5px var(--green);
}

.section-4-image-desktop {
    display: none;
}

@media screen and (min-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {

    .section-4 {
        background-attachment: fixed;
        padding: 0;
    }

    .green-h4 {
        font-size: 24px;
    }

    .product-paragraph {
        padding: 10px 100px;
        margin-bottom: -20px;
        text-align: center;
    }

    .section-4-image {
        display: none;
    }

    .section-4-image-desktop {
        display: block;
        width: 30vw;
        height: auto;
    }

    .product-info {
        width: 50vw;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .download-btn {
        margin-top: 50px;
        height: 50px;
        width: 264px;
        margin-bottom: 50px;
    }
}