.section-5 {
    background: black;
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: AktivGrotesk;
    height: 100vh;
    width: 100vw;
}