.section-7 {
    color: white;
    height: calc(100vh - 148px);
    width: 100vw;
    background: black;
    font-family: AktivGrotesk;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.sign-up-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 34px;
}

.green-paragraph {
    color: var(--green);
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.03em;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.email {
    width: 90vw;
    box-shadow: inset 0px 4px 9px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 5px rgb(255, 255, 255);
    border-radius: 6px;
    background: var(--gray);
    border: 2px solid white;
    height: 40px;
}

.form-part-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}

.form-part-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-part-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}



.name {
    width: 42.3vw;
    margin-right: 10px;
    box-shadow: inset 0px 4px 9px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 5px rgb(255, 255, 255);
    border-radius: 6px;
    background: var(--gray);
    border: 2px solid white;
    height: 40px;
}

.country {
    width: 42.3vw;
    margin-left: 10px;
    box-shadow: inset 0px 4px 9px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    background: var(--gray);
    border: 2px solid white;
    box-shadow: 0 0 5px rgb(255, 255, 255);
    height: 40px;
}


.label-email {
    padding-left: 2px;
}

.label-name {
    padding-left: 2px;
}

.label-country {
    padding-left: 12px;
}

.label-text {
    font-weight: 300;
    font-size: 14px;
    padding-bottom: 10px;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.submit-button {
    background: black;
    color: white;
    font-weight: 300;
    font-size: 20px;
    border: 2px inset white;
    border-radius: 6px;
    height: 48px;
    width: 167px;
    box-shadow: 0 0 5px rgb(255, 255, 255);
    transition: 250ms ease;
}

.submit-button:hover {
    background: var(--green);
    border: 2px solid var(--green);
    box-shadow: 0 0 5px var(--green);
}

.scroll-to-top {
    margin-top: 50px;
    cursor: pointer;
}

.divider-line {
    height: 3px;
    border-radius: 6px;
    box-shadow: 0 0 5px rgb(255, 255, 255);
    width: 90vw;
    background: white;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {


    .section-7 {
        height: 100vh;
        display: flex;
        justify-content: space-around;
    }

    .scroll-to-top,
    .divider-line {
        display: none;
    }

    .sign-up-container {
        width: 35vw;
        padding: 50px;
        margin-bottom: -150px;
    }

    .green-paragraph {
        font-weight: 300;
        font-size: 20px;
        line-height: 136%;
        text-align: center;
        letter-spacing: 0.03em;
    }


    .email {
        width: 500px;
        height: 50px;
        padding: 10px;
        font-size: 14px;
    }

    .name,
    .country {
        width: 220px;
        height: 50px;
    }

    .email,
    .name,
    .country {
        padding: 10px;
        font-size: 14px;
    }
}