.section-5 {
    background: black;
    background-image: url(../images/Mobile_road.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: AktivGrotesk;
    height: 100vh;
    width: 100vw;
}

@media screen and (min-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
    .section-5 {
        background: black;
        background-image: url(../images/Desktop_road.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        font-family: AktivGrotesk;
        height: 100vh;
        width: 100vw;

    }
}